/New folder/New folder/java/Test6/nbproject/private/
/New folder/New folder/java/AntOnCheckBoard/nbproject/private/
/New folder/New folder/java/AntOnCheseBoard/nbproject/private/
/java/New folder/git/java/AntOnCheckBoard/nbproject/private/
/java/New folder/git/java/AntOnCheseBoard/nbproject/private/
/java/New folder/git/java/Test6/nbproject/private/